{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{ super() }}
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}Tying Trainer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('.static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="row" id="message_box_container">
          <div id="message_box">
            <h3>{{ message }}</h3>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>Practice page</h1>
    <p>{{ generated_text }}</p>
{% endblock %}
