<html>
	<head> 
		<!-- Chart.JS resources are here -->
		</html><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	</head>
	<body>
		<!-- The only way that I could find to properly control the alignment was to put the canvas in a div, feel
			free to fix if this is bad-->
		<div class="chart-container" style="width: 500px; height:1000px; float: left">
			<canvas id="wpmChart";></canvas>
			<script>
				var ctx = document.getElementById("wpmChart").getContext('2d');
				var data = {{ wpmChartJSON | safe }}
				var wpmChart = new Chart(ctx, data);
			</script>
		</div>
	</body>
</html>