{% extends "bootstrap/base.html" %}
{% block head %}
    {{ super() }}
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}Tying Trainer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Typing Trainer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <span class="border border-dark">
                    <p>{{generated_text}}</p>
                </span>
            </div>
        </div>
    </div>

{% endblock %}
