{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{ super() }}
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}Tying Trainer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('.static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">
{% endblock %}

{% block content %}
    <h1>Practice page</h1>
{% endblock %}
