{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{ super() }}
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}Tying Trainer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('.static', filename='normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row" id="header">
    <a href="{{ url_for('index') }}"><h1>Typing Trainer</h1></a>
  </div>
  <div class="row" id="account_popup">
    <div class="col-md" id="account_popup_container">
      <form class="form-signin" method="POST" action="/signup">
        {{ form.hidden_tag() }} <!--- XSS request forgery token --->
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.confirm_password) }}
        <button type="submit" class="btn">Create Account</button>
      </form>

      <div class="row" id="sign_up_container">
        <h2>Already have an account?</h2>
        <button class="signup_button">
          <a href="{{ url_for('index') }}">Sign in</a>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
