 /* Base styling & formatting */

html{
    background: #E5E5E5;
}

body{
    min-height: 100vh;
}

h1{
    color: #D56062;
    font-family: 'Anonymous Pro';
}

a, p, h2, h3, label, .btn{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
}

 /* index page specific styling */
#message_box_container{
    display: block;
    text-align: center;
    padding-top: 20px;
}

#message_box{
    padding: 1em 2em 1em 2em;
    display: inline-block;
    background: #D56062;
    color: white;
}

 h1{
     font-size: 8rem;
     margin: 1em 0 1em 0;
     align-self: center;
 }

#header-container{
    text-align: center;
    align-self: center;
    display: inline;
}

#button-container {
    text-align: center;
    align-self: center;
}

button, .btn{
    margin: 0.5em 0 0.5em 0.5em;
    background: #51A3A3;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-decoration: none;
    border: none;
    padding: 1.25em;
}

button:hover, .btn:hover{
    background: #D56062;
}

a, button>p{
    font-size: 3em;
    color: white;
}

a:hover, button>p:hover{
    color: white;
    text-decoration: none;
}

/* Login screen popup */
#account_popup{
    position: relative;
    position: fixed;
    display: none;
    width: 100%;
    min-width: 500px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#account_popup_container{
    background: #E5E5E5;
    width: 50%;
    min-width: 500px;
    height: 50%;
    min-height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 63px;
}

form{
    height: 55%;
    display: grid;
}

.form-group{
    display: flex;
    padding: 10px;
    border: 2px solid #51A3A3;
    box-sizing: border-box;
    border-radius: 544px;
}

label{
    align-self: center;
    padding-right: 15px;
    padding-left: 15px;
    color: #565656;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 31px;
}

input{
    width: 80%;
}

.form-control{
    background-color: #E5E5E5 !important;
    border: none;
}

.btn{
    width: 30%;
    justify-self: center;
    font-size: 20px;
    color: white;
    padding: 0;
}

.exit{
    justify-self: right;
    width: 100px;
    padding: 5px;
    margin-left: 80%;
    margin-bottom: 25px;
    padding-top: 0;
}

.signup_button, .signup_button > a {
    width: 35%;
    font-size: 20px !important;
}

.checkbox>label{
    font-size: 20px;
    width: auto;
    display: flex;
}

.checkbox>label>input{
    align-self: center;
    width: 10%;
}

#sign_up_container{
    display: block;
    height: 45%;
    min-height: 200px;
    text-align: center;
    background: #D56062;
    border-bottom-left-radius: 63px;
    border-bottom-right-radius: 63px;
}


@media (min-width: 1100px){
    #account_popup_container{
        width: 35%;
        min-width: 500px;
    }
}

@media (max-height: 1060px){
    form{
        height: 60%;
    }
    #sign_up_container{
        height: 40%;
    }
}


.game-box {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(86, 86, 86, 0.15);
	border: 4px solid #D56062;
	box-sizing: border-box;
	text-align: center;
}


/*keyboard stuff*/
.keyboard {
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 8vw;
}

.keyboard__row {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyboard__row--h1 {
    height: 1.7em;
    line-height: 1.4em;
}

.keyboard__row--h3 {
    height: 3.3em;
}

.keyboard__row > * {
    position: relative;
    background: #E4BAD0;
    text-align: center;
    color: #565656;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid #D56062;
    box-shadow: 0 0.2em 0 0.05em #dbb2c7;
    border-bottom-color: #D56062;
}

.keyboard__row--h1 > div {
    width: 3.5em;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
    background: #D56062;
    color: black;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.key--w3 {
    width: 4.6em;
}

.key--w4 {
    width: 6em;
}

.key--w5 {
    width: 6.5em;
}

.key--w6 {
    width: 8.3em;
}

.key--space {
    width: 18em;
}

.key--double > * {
    padding-top: 0em;
}

.key--letter {
    line-height: 2.8em;
}

.key--bottom-left > * {
    position: absolute;
    text-align: left;
    bottom: 0.4em;
    left: 0.4em;
}

.key--bottom-right > * {
    position: absolute;
    text-align: right;
    bottom: 0.4em;
    right: 0.4em;
}

.key--fn > * {
    font-size: 0.6em;
    line-height: 1em;
    padding-top: 1.2em;
    padding-right: 0.2em;
    text-align: right;
    float: right;
}

.key--word > * {
    font-size: 0.8em;
}

.key--arrow--tall > *,
.key--arrow > * {
    font-size: 0.5em;
    line-height: 3em;
}

.key--arrow {
    height: 1.8em;
    margin-top: 1.7em;
    line-height: 0.5em;
}

.key--arrow--tall > * {
    padding-top: 0.2em;
}

.keyboard > .keyboard__row {
    text-align: center;
}