 /* Formatting specifically for /signup page */

#account_popup{
    position: relative;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#header{
    justify-content: center;
}

form{
    height: 75%;
}

#sign_up_container{
    height: 25%;
}

.exit{
    margin-bottom: 10px;
}


@media (min-height: 800px){
    #account_popup_container{
        height: 70%;
        min-height: 750px;
    }
}

@media (max-height: 800px){
    #account_popup_container{
        height: 70%;
        min-height: 750px;
    }
}

@media (max-height: 850px){
    #sign_up_container{
        display: none;
    }
}

